@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    color: #1B1A1A;
    padding-top: 86px;
}

a {
    color: #1B1A1A;
    text-decoration: none;
}z

a:hover {
    text-decoration: underline;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
}

small {
    color: #645C55;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 60px;
}

/* NAV */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.nav__inner {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 32px
}

.nav__link {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.nav__link--button {
    display: inline-block;
    padding: 11px 20px;
    background-color: #1B1A1A;
    color: #fff;
    letter-spacing: 0.4px;
    border-radius: 14px;
    transition: background-color 0.2s ease;
}

.nav__link--button:hover {
    text-decoration: none;
    background-color: #292828;
}

/* MAIN */

.main {
    display: flex;
    width: 100%;
}

.main__left {
    width: 50%;
    background-color: #ECE7E4;
    display: flex;
    align-items: center;
}

.main__right {
    width: 50%;
    background-image: url(../img/main-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* MAIN-TEXT */

.main__text {
    padding: 60px 0 40px 40px;
    margin: 77px 0 77px 60px;
    max-width: 510px;
}

/* .main__small-text {
    color: #645C55;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
} */

.main__title {
    margin-top: 20px;
    font-weight: 400;
    font-size: 64px;
    line-height: 70.4px;
    color: #1B1A1A;
}

.main__disc {
    margin-top: 18px;
}

.main__link {
    display: inline-block;
    margin: 30px 0 0 5px;
    padding: 11px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1A1A;
}

/* OURFIRM */

.ourfirm {
    margin: 100px 0;
}

.ourfirm__inner {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    max-width: 768px;
    margin: 0 auto;
}

.ourfirm__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
}

.ourfirm__message {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ourfirm__message-author {
    display: flex;
    align-items: center;
    gap: 30px;
}

.ourfirm__message-author-name {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #1B1A1A;
}

.ourfirm__message-author-position {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #645C55;
    text-transform: none;
    letter-spacing: normal;
}

/* REEDING HOUSE */

.reeding-house {
    background-image: url(../img/reeding-house-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.reeding-house__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.reeding-house__text {
    padding: 266px 0 266px;
    margin-right: 80px;
    max-width: 285px;
}

.reeding-house__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}

.reeding-house__disc {
    color: #645C55;
}

/* PROCESS */

.process {
    padding: 100px 0;
}

.process__inner {
    text-align: center;
}

.process__title {
    margin-top: 13px;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
}

.process__card-inner {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.process__card-item {
    max-width: 379px;
}

.process__card-title {
    margin-top: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #403E3B;
}

.process__card-disc {
    margin-top: 10px;
    max-width: 285px;
    font-size: 15px;
    color: #645C55;
}

/* STAIRCASE */

.staircase {
    background-image: url(../img/staircase-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.staircase__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.staircase__text {
    padding: 266px 0 266px;
    margin-right: 80px;
    max-width: 285px;
}

.staircase__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}

.staircase__disc {
    color: #645C55;
}

/* PRIOR CLIENTS */

.prior-clients {
    background-color: #403E3B;
    padding: 60px 0 60px;
}

.prior-clients__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 132px;
}

.prior-clients__text-inner {
    max-width: 460px;
}

.prior-clients__small {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #ECE7E4;
}

.prior-clients__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #fff;
}

.prior-clients__disc {
    margin-top: 14px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #ECE7E4;
    max-width: 451px;
}

.prior-clients__logos-inner {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 96px;
    max-width: 432px;
    margin: 0 auto;
    align-items: center;
}

/* STAIRCASE */

.swirling {
    background-image: url(../img/swirling-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.swirling__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.swirling__text {
    padding: 266px 0 266px;
    margin-left: 80px;
    max-width: 285px;
}

.swirling__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}

.swirling__disc {
    color: #645C55;
}

/* FEATURED */

.featured-projects {
    padding-top: 120px;
    padding-bottom: 100px;
    background-color: #F7F7F7;
}

.featured-projects__inner {
    padding: 0 16px;
}

.featured-projects__text-inner {
    max-width: 50%;
}

.featured-projects__title {
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    color: #1B1A1A;
}

.featured-projects__disc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #645C55;
}

.featured-projects__card-inner {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.featured-projects__card {
    position: relative;
    max-width: 379px;
    overflow: hidden;
    cursor: pointer;
}

.featured-projects__card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease;
}

.featured-projects__card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.4s ease;
    padding: 40px;
    box-sizing: border-box;
}

.featured-projects__card-title {
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #403E3B;
}

.featured-projects__card-button {
    display: inline-block;
    padding: 11px 20px;
    background-color: #1B1A1A;
    color: #fff;
    align-self: flex-start;
    border-radius: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    transition: background-color 0.2s ease;
}

.featured-projects__card-button:hover {
    background-color: #292828;
}

.featured-projects__card:hover .featured-projects__card-overlay {
    opacity: 1;
}

.featured-projects__link-wrapper {
    text-align: center;
    margin-top: 40px;
}

.featured-projects__link {
    display: inline-block;
    padding: 11px 20px;
}

/* TEAM */

.team {
    padding: 100px 0 100px;
}

.team__inner {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.team__text-wrapper {
    max-width: 378px;
}

.team__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
}

.team__disc {
    margin-top: 14px;
    font-size: 15px;
    color: #645C55;
}

.team__link {
    display: inline-block;
    padding: 11px 20px;
    margin-top: 30px;
    margin-left: 5px;
}

.team__persones {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 36px 120px;
}

.ourfirm__message-author {
    padding: 8px 0;
}

/* GET IN TOUCH */

.get-in-touch {
    padding: 100px 0;
    background-color: #CEC4BC;
}

.get-in-touch__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.get-in-touch__text-wrapper {
    max-width: 576px;
}

.get-in-touch__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
}

.get-in-touch__link {
    display: inline-block;
    padding: 11px 20px;
}